body{
    background-color: rgba(7, 66, 145, 0.76);
    font:  1em/150% Arial,Helvetica,sans-serif;
}

h1{
font: bold 36px/100% Arial,Helvetica,sans-serif;

}

#pagewrap{
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}

#header{
    height: 180px;
    border-radius: 25px;
}

#content{
    width: 600px;
    float: left;
   
}

#sidebar{
    width: 300px;
    float: right;
}

#Footer{
    clear: both;

}

#content{
    background-color: #f8f8f8;
}
#sidebar{
    background-color: #f0efef;
}

#header,#content,#sidebar{

    margin-bottom: 5px ;
}

#pagewrap,#header,#content,#sidebar,#Footer{
    border: dotted 1px #ccc;
}

.imagen1{
    width: 200px;
    
}

#info{
width: 475px;
float: left;
}

#logo{
    width: 475px;
    float:right;
    text-align: right;
}

@media screen and (max-width: 997px){
    body{
        background-color: brown;
    }

    #pagewrap{
        width: 94%;
    }
    #content{
        width: 65%;
    }
    #sidebar{
        width: 30%;
    }
    #info{
        width: 50%;
    }
        
        
    #logo{
    width: 50%;
            
    }

    
}

@media screen and (max-width: 700px){
    body{
        background-color: cyan;
    }
    #content{
        width: auto;
        float: none;
    }
    #sidebar{
        width:auto;
        float: none;

    }
    
}

@media screen and (max-width: 501px){
    body{
        background-color: rgb(30, 129, 63);
    }
    #header{
        height: auto;

    }
    h1{
        font-size: 24px;
    }
    #sidebar{
        display: none;
    }

    #info{
        width: auto;
        height: auto;
        float:none;
        text-align: center;
    }
        
        
    #logo{
    width: auto;
    height: auto;
    text-align: center;
    float:none;
            
    }
    
}
